version: '{build}'
environment:
  CC: gcc
install:
- cinst mingw cmake ninja nasm
build_script:
- set PATH=%PATH%;C:\tools\mingw64\bin;C:\Program Files\NASM;C:\ProgramData\chocolatey\lib\ninja\tools;C:\Program Files\CMake\bin
- cd %APPVEYOR_BUILD_FOLDER%\build
- mkdir build
- cd build
- cmake.exe -G Ninja -DCMAKE_BUILD_TYPE=Release ..
- ninja.exe
after_build:
- 7z a jpeg-archive.zip %APPVEYOR_BUILD_FOLDER%\build\*.exe
- appveyor PushArtifact jpeg-archive.zip
test_script:
- set PATH=%PATH%;C:\ProgramData\chocolatey\lib\ninja\tools
- cd %APPVEYOR_BUILD_FOLDER%\build
- ninja.exe test
